.Titel h2 {
  text-align: center;
}


.eventimage {
  width: 100%;
  height: 200px;
}

.apple {
  background: url("../img/Apple.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Microsoft {
  background: url("../img/Microsoft.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Samsung{
  background: url("../img/samsung.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.rock{
  background: url("../img/rockwerchter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.tomorrow{
  background: url("../img/tomorrowland.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.pukkelpop{
  background: url("../img/pukkelpop.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.Live-nation{
  background: url("../img/Live-nation.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.Live-Music{
  background: url("../img/Live-music.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.Vamps{
  background: url("../img/Vamps.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.Tesla{
  background: url("../img/Tesla.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.bmw{
  background: url("../img/bmw.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.huawei{
  background: url("../img/huawei.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.Kinderen{
  background: url("../img/kinderbarbecue.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.braderij{
  background: url("../img/braderij.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rommelmarkt{
  background: url("../img/rommelmarkt.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.battle{
  background: url("../img/barbecue.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.barbecue-battle{
  background: url("../img/barbecuebattle.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.barbecue-battle2{
  background: url("../img/Barbecuebattle2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
