h4
{
  font-family: 'Bangers', cursive;
  color: #c74c61;

}

h5{
  font-family: 'Bangers', cursive;
  color: #c74c61;

}

.partypic {
  height: 400px;
  width: 100%;

}
.party
{
  background: url("../img/partypic.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}



.profilepic{
  height: 200px;
  width: 100%;


}

.Tim
{
  background: url("../img/tim.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}
.rafah{
  background: url("../img/rafahpic.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}

.jeroen{
  background: url("../img/jero.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}
.Badr
{
  background: url("../img/badr.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}
.Mouad
{
  background: url("../img/mo.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}
.Liam
{
  background: darkgrey;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position:center ;
}
